@import "tailwindcss";

@source "../node_modules/futbol-in-ui";

@layer base {
    * {
        user-select: none !important;

        ::selection {
            background-color: var(--color-primary);
            color: rgb(36, 36, 36);
        }
    }

    ::-webkit-scrollbar {
        width: 8px
    }

    ::-webkit-scrollbar-track {
        background: #383838;
        border-radius: 9px;
    }

    ::-webkit-scrollbar-thumb {
        background: #929292;
        border-radius: 9px;

    }

    @supports not selector(::-webkit-scrollbar) {
        body {
            scrollbar-color: #929292 #383838;
        }
    }
}

@theme {
    --color-primary: rgb(110, 213, 89);

    --animate-fade-in: fade-in 0.5s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
    --animate-puff-in: puff-in 0.5s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;

    @keyframes fade-in {
        0% {
            opacity: 0;
        }

        ,
        100% {
            opacity: 1;
        }
    }

    @keyframes puff-in {

        0% {
            transform: scale(2)translateY(-200px);
            filter: blur(2px);
            opacity: 0;
        }

        ,
        to: {
            transform: scale(1)translateY(0px);
            filter: blur(0);
            opacity: 1;
        }
    }
}