@import "tailwindcss";

@source "../node_modules/futbol-in-ui";

@layer base {
    * {
        scroll-behavior: smooth;
        user-select: none !important;

        ::selection {
            background-color: var(--color-primary);
            color: rgb(36, 36, 36);
        }
    }

    ::-webkit-scrollbar {
        width: 8px
    }

    ::-webkit-scrollbar-track {
        background: #383838;
        border-radius: 9px;
    }


    .intro-t {
        color: var(--color-neutral-500)
    }

    .intro-h {
        color: var(--color-neutral-500)
    }

    ::-webkit-scrollbar-thumb {
        background: #929292;
        border-radius: 9px;

    }

    @supports not selector(::-webkit-scrollbar) {
        body {
            scrollbar-color: #929292 #383838;
        }
    }
}

@theme {

    --color-neutral-50: oklch(0.984 0.003 247.858);
    --color-neutral-100: oklch(0.968 0.007 247.896);
    --color-neutral-200: oklch(0.929 0.013 255.508);
    --color-neutral-300: oklch(0.869 0.022 252.894);
    --color-neutral-400: oklch(0.704 0.04 256.788);
    --color-neutral-500: oklch(0.554 0.046 257.417);
    --color-neutral-600: oklch(0.446 0.043 257.281);
    --color-neutral-700: oklch(0.372 0.044 257.287);
    --color-neutral-800: oklch(0.279 0.041 260.031);
    --color-neutral-900: oklch(0.208 0.042 265.755);
    --color-neutral-950: oklch(0.129 0.042 264.695);

    --color-primary-50: #e2ffdc;
    --color-primary-100: #b8ffaa;
    --color-primary-200: #94fa80;
    --color-primary-300: #88ed74;
    --color-primary-400: #7ce168;
    --color-primary-500: #6ed559;
    --color-primary-600: #35b20b;
    --color-primary-700: #207d00;
    --color-primary-800: #0f4900;
    --color-primary-900: #031f00;

    /* Coincide con 500 */
    --color-primary: var(--color-primary-500);

    --animate-fade-in: fade-in 0.5s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
    --animate-puff-in: puff-in 0.5s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
    --animate-fade-in-top: fade-in-top 0.5s ease-out both;

    @keyframes fade-in {
        0% {
            opacity: 0;
        }
        ,
        100% {
            opacity: 1;
        }
    }

    @keyframes puff-in {
        0% {
            transform: scale(2)translateY(-200px);
            filter: blur(2px);
            opacity: 0;
        }
        ,
        to: {
            transform: scale(1)translateY(0px);
            filter: blur(0);
            opacity: 1;
        }
    }

    @keyframes fade-in-top {
        0% {
            transform: translateY(-10px);
            opacity: 0;
        }

        ,
        to: {
            transform: translateY(0);
            opacity: 1;
        }
    }
}